<div class="row">
    <div class="col-lg-6">
        <div class="well">
            <span class="inline-title">Construct NFA: </span>
            <button class="btn btn-sm btn-default" ng-click="addState()">Add State</button>
            <button class="btn btn-sm btn-default" ng-click="addTransition()">Add Transition</button>
            <button class="btn btn-sm btn-default" ng-click="deleteSelected()">Delete Selected</button>
            <button class="btn btn-sm btn-default" ng-click="">Mark Selected As Accept</button>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="well">
            <span class="inline-title">Control Conversion:</span>
            <button class="btn btn-sm btn-default">Step Forward</button>
            <button class="btn btn-sm btn-default">Step Backward</button>
            <button class="btn btn-sm btn-default">Run</button>
            <button class="btn btn-sm btn-default">Pause</button>
        </div>
    </div>
</div>
