<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-wide">
        <div class="navbar-header">
            <a href="" class="navbar-brand">FSA Animate</a>

            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li><a href="https://github.com/alexklibisz/FSA-Animate/tree/master">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/alexklibisz/FSA-Animate/tree/gh-pages">Source</a></li>
                <li><a href="http://github.com/alexklibisz/FSA-Animate" target="">GitHub Repository</a></li>
            </ul>
        </div>
    </div>
</div>
