body {
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gap-15 {
    gap: 15px;
}

.gap-10 {
    gap: 10px;
}
  
.column {
    flex-basis: 100%;
}
  
@media screen and (min-width: 800px) {
    .column {
        flex: 1;
    }
}